<!--https://tailwindcomponents.com/component/table-responsive-with-filters/!-->
<br>
<br>
<br>
<div class="col-md-6">
      <%= link_to 'Matiere', new_matiere_path, class:'button is-info' %> 
      <br><br>
      <%= link_to 'Voir matieres', matieres_path, class:'button is-info' %>
    <br><br>
  <%= link_to 'Niveau', new_level_path, class:'button is-info' %>
  <br><br>
  <%= link_to 'Voir Niveau', levels_path, class:'button is-info' %>
    <br><br>
  <%= link_to 'classe', new_classroom_path, class:'button is-info' %>
  <br><br>
  <%= link_to 'Voir classe', classrooms_path, class:'button is-info' %>
      <br><br>
  <%= link_to 'Pages des Testes',home_draft_path, class:'button is-info' %> 
  
</div>
