<!DOCTYPE html>
<html>
  <head>
    <title>Chatln</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- links top/!-->
    <%= render "shared/links/links_top" %>
  </head>

  <body>
    <%= yield %>

    <!--  links js /!-->
    <%= render "shared/links/links_js" %>
  </body>
</html>
