<section class="section my-8">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title devise-title"> Personnaliser votre compte</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          
          <%= render "devise/shared/error_messages", resource: resource %>

           <!-- city/!-->
          <div class="field">
            <div class="control">
              <%= f.input :city, required: false,  input_html: { class: "input"}, wrapper: false, label_html: { class: "string" }, label:'Je vis a:', placeholder:"votre ville actuelle", autofocus:true %>
            </div>
          </div>
          <!-- school/!-->
          <div class="field">
            <div class="control">
              <%= f.input :school_name, required: false,  input_html: { class: "input"}, wrapper: false, label_html: { class: "string" }, label:"Je fréquente l'ecole :", placeholder:"Nom de  votre école:" %>
            </div>
          </div>
            <br>
         <% if status_user(current_user) %>
           <% else %>
           <!-- les eleve ont droits a tout les niveaux et des prositions de classe e/!-->
          <div class="field columns"> 
          <!-- la promotion ex: 6e, 3e ou Tle/!--> 
            <div class="field">
              <div class="control has-icons-left">
                <span class="select">               
                  <%= f.input_field :level_id, collection:@levels.map { |l| [l.title, l.id] }, prompt: "Niveau de votre classe" %>
                    </span>

                <span class="icon is-small is-left">
                  <i class="fa fa-tag"></i>
                </span>           
              </div>
            </div>
         <% end %>
            <!-- la classe/!-->

          </div>
          <!-- sexe/!-->
          <div class="field ">
            <div class="control">
              <%= f.input :gender, as: :radio_buttons, collection: [['Femme', '0'],['Homme', '1']], value_method: :second,selected: 0,  label:'Je suis :' %>
            </div>
          </div>

          <h2 class="title is-3">Verifier les champs suivants:</h2>
          <!-- Username/!-->
          <div class="field">
            <div class="control">
              <%= f.input :username, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "string" },label:'Nom complet :', placeholder:"Votre nom complet :" %>
            </div>
          </div>
            <!-- Contact/!-->
          <div class="field">
            <div class="control">
              <%= f.input :contact, required: false,  input_html: { class: "input"}, wrapper: false, label_html: { class: "string" }, label:'N° Tel:', placeholder:"N° Téléphone" %>
            </div>
          </div>
          <!--Status/!-->
          <div class="field">
            <div class="control">
              <%= f.input :status, as: :radio_buttons, collection: [['Eleve','0'],['Prof','1']], value_method: :second, selected: 0, label:"Status:" %> 
            </div>
          </div>
          <!--Email/!-->
          <div class="field">
            <div class="control">
              <%= f.input :email, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "string" }, label: 'Adresse Email :' %>
            </div>
          </div>

           
           <button class="button is-info"> Modifier votre mot de passe</button>

          <span class="password_id">
            <%= render "password" %>
          </span>
          <div class="field">
            <div class="control" >
              <%= f.input :current_password, hint: "Pour votre sécurité, vous devez saisir à nouveau votre mot de passe..", required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "string" }, label:'Ancien mot de passe : ' ,placeholder:'retaper votre ancien mot de passe'%>
            </div>
          </div>

         
          <%= f.button :submit, "Enregistrer", class:"button is-info" %>
          <hr />
          <h3>Suppression</h3>
          <p> <%= link_to "Supprimer votre compte", registration_path(resource_name), data: { confirm: "La suppression de votre supprimera tous vos contenu et ne sera plus recuperable?" }, method: :delete %>
          </p>
            <%= link_to "Retour", :back %>  
        
        <% end %>
      </div>
    </div>
  </div>
</section>