
<div class="container mt-20">
   <%= form_with model: current_user, local: true, html: {class: "form-horizontal form-edit-user"} do |f| %>

 
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <!-- avatar user/!-->
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class:"avatar"  %>
              <% else %>
             <img src="https://bulma.io/images/placeholders/32x32.png" class=" w-10  rounded-full mr-2">
            <% end %>
            
          
          </div>
          <div class="col-sm-9">
            <p class="username"><%=current_user.username %></p>
            <a class="change-photo" href="">Changez Photo Profil</a>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :Profil, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.file_field :avatar, class: 'form-control' %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :Nom, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :username, class: 'form-control' %>
          </div>
        </div>
        
        <div class="form-group row">
          <%= f.label :Desciption, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_area :resume, placeholder:"Écrivez une description de vous", class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :email, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :contact, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :contact, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :sexe, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :gender, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-9">
            <%= f.submit "Enregistrer", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
