<% content_for @title ="Créer mon compte" %>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h2 class="title devise-title">Créer un compte</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
     <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %> 
          <div class="form-group row">
            <div class="col-sm-10">
              <%= f.input :username, required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "sting" }, placeholder:"Votre nom complet :", label:'Nom Complet :', autofocus: true %>
            </div> 

          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <%= f.input :contact, required: false,  input_html: { class: "input"}, wrapper: false, label_html: { class: "tel" }, label:'N° Tel:', placeholder:"N° Téléphone" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <%= f.input :email, required: false, input_html: { class: "input form-control"}, wrapper: false, label_html: { class: "email" }, label: 'Adresse Email :', placeholder:"email" %>
            </div>            
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <%= f.input :status, as: :radio_buttons, collection: [['Elève', '0'],['Professeur', '1']], label:"Je suis :" %> 
            </div>
          </div>      


          <div class="form-group row">
            <div class="col-sm-10">
              <%= f.input :password, required: false, input_html: { class: "input form-control " }, wrapper: false, label_html: { class: "password" }, hint: ("#{@minimum_password_length} caracteres minimum" if @minimum_password_length), label:"Mot de passe :", placeholder:"Le mot de passe :" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <%= f.input :password_confirmation, required: false, input_html: { class: "input form-control" }, wrapper: false, label_html: { class: "password_confirmation" },label:"Confirmez votre mot de passe:", placeholder:"Retaper votre mot de passe:" %>
            </div>
          </div>
          
          <div class="field">
            <div class="control">
              <%= f.button :submit, "S'inscrire", class: "button btn btn-primary" %>
            </div>
          </div>

        <% end %>
        <br />
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>

