<div class="bg-gray-200">

    <div class="flex flex-col py-32 w-8/12 md:ml-16">
        <div class="container">
            <!--matiere - niveau/!-->
            <div class="flex-col mb-2">
                <%= render "shared/pages/micro/micro_data_course" %>
            </div>
            <!-- titre du cours/!-->
            <div class="flex-col text-3xl text-bold text-left">
                <%= @course.title %>
            </div>
            <!-- avatar prof/!-->
            <div class="flex-row">
                <div class="flex items-center ">

                    <!-- avatar 64x64/!-->
                    <img src="https://bulma.io/images/placeholders/64x64.png" class=" flex w-16 rounded-full mr-4">
                    <!-- current_user.username/!-->
                    <div class="text-bold text-center py-2 m-2">
                        <!--meta info sur user /!-->
                        Professeur
                        <%= @course.user.username %>
                    </div>
                </div>

                <div class="whitespace-normal bg-white leading-normal border border-t border-r border-b border-l rounded-t-lg rounded-r-lg rounded-l-lg rounded-b-lg p-6 ">
                    <!--content course/!-->
                    <%= sanitize(@course.content) %>
                </div>

                <!-- option form/!-->
                <%= render 'shared/course/options' %>
                    <div id="comment_add" class="mb-4">

                        <!-- section commentaire/!-->

                        <%= render @course.comments , locals:{comments: @comment} %>
                    </div>
                    <!-- form comments/!-->
                    <div id='comment_form' class="comment.form">
                        <%= render 'comments/form' %>
                    </div>
            </div>
        </div>