<div class="bg-gray-200">
  
<div class="flex flex-col py-32 w-8/12 md:ml-16">
  <div class="container">
    <!--matiere - niveau/!-->
    <div class="flex-col mb-2">
      <%= render "shared/pages/micro/micro_data_course" %>
    </div>
    <!-- titre du cours/!-->
    <div class="flex-col text-3xl text-bold text-left">      
      <%= @course.title %>        
    </div> 
    <!-- avatar prof/!-->
    <div class="flex-row">
      <div class="flex items-center ">
      <!-- avatar 64x64/!-->
        <img src="https://bulma.io/images/placeholders/64x64.png" class=" flex w-16 rounded-full mr-4">
      <!-- current_user.username/!-->
      <div class="text-bold text-center py-2 m-2">
       <!--meta info sur user /!-->       
      Professeur  <%= @course.user.username %>
    </div>
  </div>
    <!--content course/!-->
    <p class="text-xl text-left sm:text-justify md:text-justify">    
      <%= sanitize(@course.content) %>
    </p>
  <%= render 'shared/course/options' %>

  <div id="comments_content" class="mb-4">
    <!-- section commentaire/!-->
    <%= render @course.comments %>
  </div>
  <!-- form comments/!-->
  <div class="comment.form">
    <%= render 'comments/form' %>  
  </div>

</div>

</div>