<!DOCTYPE html>
<html lang="fr">

<head>
    <title>
        <%= title %>
    </title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
                <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



                    <!-- links include top/!-->
                    <%= render 'shared/links/links-top' %>

</head>


<body class="bg-gray-200 -pt">
    <!--SECTION NOTIFICATION DEVISE/!-->
    <%= render  'shared/devise/notification' %>

        <!-- NAVBAR SYSTEM/!-->
        <%= render 'shared/nav/navbar' %>
            <!--  other contains prints zone/!-->
            <span class="mt-20">
    <%= yield %>
      
    </span>


            <!-- include js links/!-->
            <%= render 'shared/links/links-js' %>

                <!-- analytics tools/!-->
                <%= render 'shared/links/analytics_tools' %>
</body>

</html>