<% content_for @title =" connexion" %>
    

<div class="container">
  
  <div class="columns is-centered">
    <div class="column is-5">
  
    <div class="w-full max-w-xs">  
    <h2 class="title devise-title">Connectez-Vous</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name))  do |f| %>
     <%= f.error_notification %>
     <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %> 

      <div class="bg-white rounded px-8 pt-6 pb-8 mb-4">     
        <div class="mb-4">            
          <%= f.input :email, required: false, input_html: { class: " appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"}, wrapper: false, label_html: { class: "string" }, placeholder:" votre adresse email", label:"adresse email :", autofocus: true %> 
          <p class="text-red-500 text-xs italic">Adresse email.</p>           
        </div>

        <div class="mb-6">
         <%= f.input :password, required: false, input_html: { class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"}, wrapper: false, label_html: { class: "mot de pass" }, placeholder:"******************", label:"Mot de passe :" %>             
        </div>

        <div class="field">
          <div class="control">
          <%= f.input :remember_me, label:"restez connecter", wrapper: false, as: :boolean if devise_mapping.rememberable? %>
          </div>
        </div>

        <div class="flex items-center justify-between">              
          <%= f.button :submit, "Se Connecter", class: " button is-info bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      </div>

<%= render "devise/shared/links" %>
      <% end %>        
    </div>
  </div>
</div>  
</div>  

